name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      terraform-destroy:
        description: 'Are you sure you want to run "terraform destroy?" This will delete all infrastructure and cannot be undone!'
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: terraform
          soft_fail: true

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: terraform plan (destroy, targeted) - first try
        id: plan_first
        continue-on-error: true
        uses: dflook/terraform-plan@v2
        with:
          path: terraform
          destroy: true
          target: |
            module.vpc
            module.alb
            module.ecs
            module.acm

      - name: Unlock state if locked (during plan)
        if: ${{ steps.plan_first.outputs.failure-reason == 'state-locked' }}
        uses: dflook/terraform-unlock-state@v2
        with:
          path: terraform
          lock_id: ${{ fromJSON(steps.plan_first.outputs.lock-info).ID }}

      - name: terraform plan (destroy, targeted) - retry
        id: plan_retry
        if: ${{ steps.plan_first.outputs['failure-reason'] == 'state-locked' }}
        uses: dflook/terraform-plan@v2
        with:
          path: terraform
          destroy: true
          target: |
            module.vpc
            module.alb
            module.ecs
            module.acm
            module.Route53

      - name: terraform apply (destroy plan) - first try
        id: apply_first
        continue-on-error: true
        uses: dflook/terraform-apply@v2
        with:
          path: terraform
          plan_path: ${{ steps.plan_first.outcome == 'success' && steps.plan_first.outputs.plan_path || steps.plan_retry.outputs.plan_path }}
          auto_approve: true

      - name: Unlock state if locked (during apply)
        if: ${{ steps.apply_first.outputs['failure-reason'] == 'state-locked' }}
        uses: dflook/terraform-unlock-state@v2
        with:
          path: terraform
          lock_id: ${{ fromJSON(steps.apply_first.outputs['lock-info']).ID }}

      - name: terraform apply (retry)
        if: ${{ steps.apply_first.outputs['failure-reason'] == 'state-locked' }}
        uses: dflook/terraform-apply@v2
        with:
          path: terraform
          plan_path: ${{ steps.plan_first.outcome == 'success' && steps.plan_first.outputs.plan_path || steps.plan_retry.outputs.plan_path }}
          auto_approve: true