name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      terraform-destroy:
        description: 'Are you sure you want to run "terraform destroy?" This will delete all infrastructure and cannot be undone!'
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ${{ vars.INFRA_PATH }}
          soft_fail: true

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: terraform plan
        id: plan_first
        continue-on-error: true
        uses: dflook/terraform-plan@v2
        with:
          path: ${{ vars.INFRA_PATH }}
          destroy: true
          target: |
            module.vpc
            module.alb
            module.ecs
            module.acm

     
      - name: terraform apply (destroy plan)
        id: apply_first
        continue-on-error: true
        uses: dflook/terraform-apply@v2
        with:
          path: ${{ vars.INFRA_PATH }}
          plan_path: ${{ steps.plan_first.outcome == 'success' && steps.plan_first.outputs.plan_path || steps.plan_retry.outputs.plan_path }}
          auto_approve: true
